In [2]:
t = (23, 532, 294, 2749, 284, 240, 12, 33)

In [3]:
print(type(t))
print(t)

<class 'tuple'>
(23, 532, 294, 2749, 284, 240, 12, 33)

In [4]:
t.count(23)

1

In [5]:
t.index(294)

2

In [6]:
# Tuple is immutable

In [7]:
var = 3*'a'
var

'aaa'

### TUPLES

### BASIC TUPLE OPERATION

#### CREATING TUPLES

In [8]:
my_tuple = (1, 2, 3, 'a', 'b')
print(my_tuple)

(1, 2, 3, 'a', 'b')

In [9]:
empty_tuple = ()   # Empty Tuple
print(type(empty_tuple))
print(empty_tuple)

<class 'tuple'>
()

In [10]:
single_item_tuple = (42, )   # if we does not add the comma then its "int" type & it is necessary to place comma to make "tuple"
print(single_item_tuple)
print(type(single_item_tuple))

(42,)
<class 'tuple'>

#### ACCESSING THE ELEMENT

In [11]:
print(my_tuple[0])   # First item 
print(my_tuple[-1])   # Last item

1
b

In [12]:
# # Creating tuples
# my_tuple = (1, 2, 3, 'a', 'b')
# empty_tuple = ()
# single_item_tuple = (42,)  # Note the comma

# # Accessing elements
# print(my_tuple[0])    # First item
# print(my_tuple[-1])   # Last item

## TUPLE METHODS

#### COUNT

In [13]:
count = my_tuple.count('b')
print(count)

1

#### INDEX

In [14]:
index = my_tuple.index('a')
print(index)

3

#### LENGTH

In [15]:
length = len(my_tuple)
print(length)

5

## TUPLE UNPACKING

#### UNPACKING INTO VARIABLES

In [16]:
# a, b, c, d, e = my_tuple

#### PARTIAL UNPACKING WITH *

In [17]:
# first, *middle, last = (1, 2, 3, 4, 5)

### BASIC UNPACKING

In [18]:
t1 = (1, 2, 3)
a, b, c = t1

In [19]:
print(a)
print(b)
print(c)

1
2
3

### WITH LIST

In [20]:
info = ('shwet', 21)
name, age = info

print(name)
print(age)

shwet
21

#### RULE: x, y = (1, 2, 3)     ERROR: TOO MANY VALUES TO UNPACK

### USING * FOR FLEXIBLE UNPACKING

In [21]:
a, *b = (1, 3, 5, 7, 9)
print(a)
print(b)

1
[3, 5, 7, 9]

### SWAP VARIABLE EASILY

In [22]:
a, b = 10, 20
a, b = b, a
print(a)
print(b)

20
10

### IMMUTABILITY DEMONSTRATION

In [23]:
# This will raise an error - tuples are immutable
try:
    my_tuple[0] = 10
except TypeError as e:
    print(f"Error: {e}")

Error: 'tuple' object does not support item assignment

### TUPLE OPERATION

#### CONCATENATION

In [24]:
new_tuple = my_tuple + (4, 5, 6)
print(new_tuple)

(1, 2, 3, 'a', 'b', 4, 5, 6)

#### REPETATION

In [25]:
repeated_tuple = ('a', 'b')*3
print(repeated_tuple)

('a', 'b', 'a', 'b', 'a', 'b')

In [29]:
####
repeated_tuple1 = ('a')*3
print(repeated_tuple1)
type(repeated_tuple1)

aaa

str

#### MEMBERSHIP TESTING

In [31]:
contain_b = 'b' in my_tuple
print(contain_b)

True

### COMPARING TUPLE

In [32]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

print(tuple1<tuple2)

True

## USING TUPLE WITH FUNCTIONS

In [35]:
# Returning multiple value from a function

def min_max(numbers):
    return min(numbers), max(numbers)

result = min_max([5, 2, 8, 1, 9])
print(result)

(1, 9)

## TUPLE AS DICTIONARY KEYS

In [46]:
# Using tuples as dictionary keys (since the're immutable.)

coordinates = {
    (35.68, 139.69): "Tokyo",
    (40.71, -71.00): "New York"
}
print(coordinates)
coordinates.keys()

{(35.68, 139.69): 'Tokyo', (40.71, -71.0): 'New York'}

dict_keys([(35.68, 139.69), (40.71, -71.0)])

## CONVERTING BETWEEN TUPLES AND OTHERS

In [51]:
# Converting to/from lists
my_list = list(my_tuple)
print(my_list)
print(type(my_list))

[1, 2, 3, 'a', 'b']
<class 'list'>

In [50]:
chars = tuple("hello")
print(chars)
print(type(chars))

('h', 'e', 'l', 'l', 'o')
<class 'tuple'>

In [52]:
new_tuple = tuple([10, 20, 30])

In [53]:
print(new_tuple)

(10, 20, 30)

In [54]:
print(type(new_tuple))

<class 'tuple'>