# function in python

In [2]:
def hello():
    print('good evening')

In [3]:
def hello():
    print('good evening')
hello()

good evening

In [6]:
def hello():
    print('good evening')
hello()

def hello():
    print('good evening')
hello()

def hello():
    print('good evening')
hello()

good evening
good evening
good evening

In [10]:
def hello():
    print('good evening')
    
hello()

hello()

hello()

hello()

good evening
good evening
good evening
good evening

In [11]:
def add(x,y):
    c=x+y
    print(c)  
    
add(5,6)

11

In [12]:
def add(x,y,z):
    c = x + y + z
    print(c)

add(5,6)

TypeError: add() missing 1 required positional argument: 'z'

In [13]:
def add(x,y,z):
    c = x + y + z
    print(c)

add(5,6,7)

18

In [14]:
def add(x,y):
    c=x+y
    return c 
    
add(5,6)

11

In [15]:
def hello():
    print('good evening')
hello()


def add(x,y):
    c=x+y
    return c 
add(5,6)

good evening

11

In [16]:
def hello():
    print('good evening')
    
def add(x,y):
    c=x+y
    return c 

hello()
add(5,6)

good evening

11

In [17]:
def greet():
    print('hello')
    print('good noon')
    
def add(x,y):
    c=x+y
    print(c)

def sub(x,y,z):
    d = x-y-z
    print(d)
    
greet()    
add(5,4)
sub(10,2,4)

hello
good noon
9
4

In [18]:
def add_sub(x,y): 
    c= x+y
    d= x-y
    return c, d 
    
add_sub(4,5)

(9, -1)

In [27]:
def add_sub(x,y): 
    c= x+y
    d= x-y
    return c, d 
    
result = add_sub(4,5)
print(result)
print(type(result))

(9, -1)
<class 'tuple'>

In [26]:
def add_sub(x,y): 
    c= x+y
    d= x-y
    return c, d 
    
result, result1 = add_sub(4,5)

print(result)
print(result1)

print(type(result))
print(type(result1))

9
-1
<class 'int'>
<class 'int'>

In [30]:
def add_sub_mul(x,y): 
    c= x+y
    d= x-y
    e = x*y
    return c, d, e
    
result, result1, result2 = add_sub_mul(4,5)

print(result)
print(result1)
print(result2)

print(type(result))
print(type(result1))
print(type(result2))

9
-1
20
<class 'int'>
<class 'int'>
<class 'int'>

In [31]:
def update(): 
    x = 8
    print(x)
    
update()

8

In [ ]:
def add(a,b):  # a & b are called as formal argument 
    c = a+b
    print(c)
    
add(5,6) # 5 & 6 is called actual argument

In [32]:
# positional argument

def person(name,age):
    print(name)
    print(age)
    
person('nit', 22)

nit
22

In [33]:
def person(name,age):
    print(name)
    print(age)
    
person(22,'nit')

22
nit

In [34]:
def person(name,age):
    print(name)
    print(age-1)
    
person(22,'nit')

22

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [36]:
def person(name,age):
    print(name)
    print(age+1)
    
person('nit',22)

nit
23

In [38]:
def person(name,age):
    print(name)
    print(age+1)
    
person('nit')

TypeError: person() missing 1 required positional argument: 'age'

In [39]:
def person(name,age):
    print(name)
    print(age+1)
    
person(22)

TypeError: person() missing 1 required positional argument: 'age'

In [40]:
def person(name):
    
    print(name)
    print(age+1)
    
person('nit', 22)

TypeError: person() takes 1 positional argument but 2 were given

Â£keyword argument

In [42]:
def person(name,age):
    
    print(name)
    print(age+1)
    
person('nit', 22)

nit
23

In [44]:
def person(name, age):
    
    print(name)
    print(age+1)
    
person(22, 'nit')

22

TypeError: can only concatenate str (not "int") to str

In [47]:
def person(name, age):
    
    print(name)
    print(age+1)
    
person(age = 22, name = 'nit', phone = 879678)

TypeError: person() got an unexpected keyword argument 'phone'

In [49]:
def person(name, age, phone):
    
    print(name)
    print(age+1)
    print(phone)
    
person(age = 22, name = 'nit', phone = 879678)

nit
23
879678

In [54]:
def person(name, age=18):
    
    print(name)
    print(age)
    
person('nit')

nit
18